<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>DRY FOODS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/dry-food-p1.png" alt="" />
        </div>
        <ion-card-title>$49.39</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >This high-protein dry food for adult dogs is formulated to nurture your
        sidekick’s sensitive skin and stomach. It features real, nutrient-rich
        salmon as the very first ingredient in a highly-digestible recipe with
        rice and oatmeal.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/dry-food-p2.png" alt="" />
        </div>
        <ion-card-title>$33.99</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Give your four-legged friend the nutrition he needs for lifelong health
        and happiness with Hill's Science Diet Adult Large Breed Dry Dog Food.
        Featuring real chicken as the very first ingredient, it’s scientifically
        formulated to provide complete and balanced nutrition that’s tailored to
        deliver a visible difference in large breed dogs.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/dry-food-p3.png" alt="" />
        </div>
        <ion-card-title>$93.99</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Provide your growing puppy with peak nourishment from ORIJEN Puppy
        Grain-Free Dry Puppy Food. Puppies often do best on a biologically
        appropriate diet that’s packed with protein and fat from a variety
        animal ingredients.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/dry-food-p4.png" alt="" />
        </div>
        <ion-card-title> $22.79</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Reward your well-behaved pooch purely and simply with Stewart Pro-Treat
        Beef Liver Freeze-Dried Raw Dog Treats. The preferred choice of pet
        trainers for over 40 years, these savory morsels are made from 100% raw
        liver that’s freeze-dried to help retain all of its naturally enticing
        aroma, delectable meaty flavor and wholesome nutritional
        value.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
</ion-content>
