<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>RAW FOODS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/raw-p1.png" alt="" />
        </div>
        <ion-card-title>$22.79</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Reward your well-behaved pooch purely and simply with Stewart Pro-Treat
        Beef Liver Freeze-Dried Raw Dog Treats. The preferred choice of pet
        trainers for over 40 years, these savory morsels are made from 100% raw
        liver that’s freeze-dried to help retain all of its naturally enticing
        aroma, delectable meaty flavor and wholesome nutritional
        value.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/raw-2.png" alt="" />
        </div>
        <ion-card-title>$33.79</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Kickstart your canine’s kibble with Stella & Chewy's Stella's Super
        Beef Meal Mixers Freeze-Dried Raw Dog Food Topper. Delivering a boost of
        nutrition and yummy flavor, it’s an easy way to pack your pooch’s diet
        with nutrients, probiotics and antioxidants.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/raw-4.png" alt="" />
        </div>
        <ion-card-title>$25.99</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Provide your canine companion with peak nourishment from ORIJEN
        Original Grain-Free Dry Dog Food. Your dog is an ancestral carnivore,
        which means he thrives on a biologically appropriate diet that’s packed
        with different types of whole animal ingredients.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
</ion-content>
