<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>WET FOODS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/wet-food-p1.png" alt="" />
        </div>
        <ion-card-title>$93.36</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Royal Canin Gastrointestinal Low Fat in Loaf Canned Dog Food is a
        palatable, digestible low fat wet dog food that is formulated for dogs
        that may have difficulties digesting fat, with a palatable
        texture.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/wet-food-p2.png" alt="" />
        </div>
        <ion-card-title>$43.99</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Inappropriate levels of fat in the blood, inability to digest protein,
        or lack of digestive enzymes can affect your dog's digestive
        health.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/wet-food-p3.png" alt="" />
        </div>
        <ion-card-title>$29.88</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >It starts with high-quality protein from tender chunks of chicken,
        packed with garden fruits and veggies, then enhanced with vitamins and
        minerals.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div class="card-container">
      <ion-card-header>
        <div class="img-container">
          <img src="assets/wet-food-p4.png" alt="" />
        </div>
        <ion-card-title>$97.98</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Some dogs are more prone to weight gain than others, but even a little
        extra weight can impact your dog’s quality of life. Hill's Prescription
        Diet w/d Multi-Benefit Digestive/Weight/Glucose/Urinary Management is
        clinically tested nutrition specially formulated to support your dog's
        weight management.</ion-card-content
      >
      <div class="flex-center">
        <ion-toolbar class="addtocartBtn">
          <button>ADD TO CART</button>
          <ion-buttons slot="start">
            <ion-icon name="cart" slot="start"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
</ion-content>
